/* Reset semua gaya default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    /* Jenis font untuk seluruh halaman */
    background: linear-gradient(135deg, #b8f2e6, #a4e5d9, #8fd9cc);
    /* Warna latar belakang */
    display: flex;
    justify-content: center;
    /* Pusatkan konten horizontal */
    align-items: center;
    /* Pusatkan konten vertikal */
    height: 100vh;
    /* Gunakan tinggi viewport untuk seluruh halaman */
}

/* Gaya untuk kontainer aplikasi */
#app {
    width: 100%;
    /* Lebar aplikasi */
    height: 100%;
    /* Tinggi aplikasi */
    border-radius: 10px;
    /* Sudut lengkung pinggiran */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Bayangan halus */
    overflow: hidden;
    /* Atur overflow untuk mengontrol tampilan scroll */
}

.chat::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

/* header */
.whatsapp-header {
    width: 100%;
    height: 8%;
    background-color: #25D366;
    /* Warna hijau WhatsApp */
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.back-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 50%;
}

.back-icon:hover {
    color: pink;
    background-color: rgba(0, 0, 0, 0.1);
    /* Warna latar belakang hitam transparan pada hover */
}

.user-name {
    flex-grow: 1;
    margin: 0 20px;
}


/* Gaya untuk kontainer chat */
.chat-container {
    height: 100%;
    /* Gunakan tinggi penuh dari kontainer */
    display: flex;
    /* Gunakan tata letak flexbox */
    flex-direction: column;
    /* Susun elemen secara vertikal */
}

/* Gaya untuk area chat */
.chat {
    flex: 1;
    /* Gunakan ruang tersisa untuk area chat */
    padding: 10px;
    /* Beri padding di dalam area chat */
    overflow-y: auto;
    /* Atur scroll vertikal jika terlalu banyak konten */
}

/* Gaya untuk pesan */
.message {
    display: table;
    /* Lebar maksimum pesan */
    margin-bottom: 10px;
    /* Jarak antar pesan */
    padding: 8px 25px 8px 12px;
    /* Padding di dalam pesan */
    border-radius: 8px;
    /* Sudut lengkung pinggiran pesan */
    word-wrap: break-word;
    /* Atur pemutusan kata di dalam pesan */
    box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.3);
    /* bayangan */
}

/* Gaya untuk pesan yang diterima */
.message.received {
    margin-top: 40px;
    align-self: flex-start;
    /* Posisikan ke kiri */
    background-color: #e1ffc7;
    /* Warna latar belakang pesan yang diterima */
}

/* Gaya untuk pesan yang dikirim */
.message.sent {
    align-self: flex-end;
    /* Posisikan ke kanan */
    background-color: #dcf8c6;
    /* Warna latar belakang pesan yang dikirim */
}

/* Gaya untuk konten pesan */
.message-content {
    font-size: 14px;
    /* Ukuran font pesan */
    word-wrap: break-word;
    /* Atur pemutusan kata di dalam pesan */
}

/* Gaya untuk waktu pesan */
.message-timestamp {
    float: right;
    /* kanan */
    font-size: 1.8vh;
    /* Ukuran font waktu pesan */
    color: #666;
    /* Warna teks waktu pesan */
    margin: 0 -15px 0 -2px;
    /* Jarak atas waktu pesan */
}

/* Gaya untuk area komposisi pesan */
.compose {
    position: fixed;
    bottom: 0;
    display: flex;
    /* Gunakan tata letak flexbox */
    align-items: center;
    /* Pusatkan konten vertikal di dalam area komposisi */
    padding: 10px;
    /* Beri padding di dalam area komposisi */
    background-color: #fff;
    /* Warna latar belakang area komposisi */
    border-top: 1px solid #ccc;
    /* Garis atas area komposisi */
    flex: 1;
    /* Gunakan ruang tersisa untuk textarea */
    width: 100%;
    /* full */
}

/* Gaya untuk textarea pesan */
textarea {
    flex: 1;
    /* Gunakan ruang tersisa untuk textarea */
    min-height: 30px;
    /* Tinggi minimum textarea */
    max-height: 170px;
    /* Tinggi maksimum textarea sebelum scroll */
    padding: 8px;
    /* Beri padding di dalam textarea */
    resize: none;
    /* Larang penggunaan resize textarea */
    border-radius: 0.5em;
    /* Sudut lengkung pinggiran textarea */
    border: 1px solid #ccc;
    /* Garis tepi textarea */
    margin-right: 10px;
    /* Jarak kanan dari textarea */
    font-size: 14px;
    /* Ukuran font textarea */
}

/* Gaya untuk tombol kirim pesan */
.compose button {
    padding: 8px 16px;
    /* Padding di dalam tombol */
    border: none;
    /* Hapus garis tepi tombol */
    background-color: #128c7e;
    /* Warna latar belakang tombol */
    color: white;
    /* Warna teks tombol */
    border-radius: 6px;
    /* Sudut lengkung pinggiran tombol */
    cursor: pointer;
    /* Tampilkan kursor pointer */
    transition: background-color 0.3s ease;
    /* Animasi perubahan warna latar belakang */
}

/* Efek hover untuk tombol kirim pesan */
.compose button:hover {
    background-color: #0a6640;
    /* Warna latar belakang saat tombol dihover */
}


#messageInput::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.send-icon {
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
}

.send-icon:hover {
    color: darkgreen;
    background-color: rgba(0, 0, 0, 0.1);
}